<html>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        body,
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            font-family: "Karma", sans-serif;
        }
        .w3-bar-block .w3-bar-item {
            padding: 20px;
        },
        .flex-container {
            display: flex;
            flex-flow: row wrap;
        }
        .flex-container > .flex-item {
            flex: auto;
            border: 1px solid;
            padding: 10px;
            box-shadow: 5px 10px 18px #888888;
        }
    </style>
    <body>
        <!-- Sidebar (hidden by default) -->
        <nav class="w3-sidebar w3-bar-block w3-card w3-top w3-xlarge w3-animate-left" style="display: none; z-index: 2; width: 40%; min-width: 300px;" id="mySidebar">
            <a href="javascript:void(0)" onclick="w3_close()" class="w3-bar-item w3-button">Close Menu</a>
            <a href="/products" onclick="w3_close()" class="w3-bar-item w3-button">Home</a>
            <a href="/myOrders" onclick="w3_close()" class="w3-bar-item w3-button">My Orders</a>
        </nav>

        <!-- Top menu -->
        <div class="w3-top">
            <div class="w3-white w3-xlarge" style="max-width: 1200px; margin: auto;">
                <div class="w3-button w3-padding-16 w3-left" onclick="w3_open()">☰</div>
                <div class="w3-center w3-padding-16">Products Page</div>
                <div class="w3-button w3-padding-16 w3-left" onclick="w3_open()">CART ({{order.quantity}}</div>
            </div>
        </div>
        
        <!-- !PAGE CONTENT! -->
       <div class="w3-main w3-content w3-padding" style="max-width:1200px;margin-top:100px">
            <div class="w3-row-padding w3-padding-16 w3-center" id="productList">
                <div class="flex-container">
                    {{#products}}
                        <div class="card" style="width: 18rem;">
                            <div class="flex-item" >
                                <img class="card-img-top" src={{image}}>
                                <div class="card-body">
                                    <h5>{{title}}</h5>
                                    <p>{{description}}</p>
                                    <p>${{price}}</p>
                                    <form action="/orderCreate/user/{{id}}" method="post">
                                        <input
                                            name="quantity"
                                            type="number"
                                            class="input_field"
                                            id="quantity"
                                            placeholder=1
                                            required
                                        />
                                        <input type="submit" class="card_button" value="Add To Cart" />
                                    </form>
                                </div>
                            </div>
                        </div>
                    {{/products}}
                </div>
            </div>
        </div>

        <script>
            // Script to open and close sidebar
            function w3_open() {
                document.getElementById("mySidebar").style.display = "block";
            }

            function w3_close() {
                document.getElementById("mySidebar").style.display = "none";
            }
        </script>
    </body>
</html>